<div class="row">
  <div class="col-sm-2" ng-include="'./partials/sidebar.html'">
  </div>
  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-2">
        <h3>Your Assignments</h3>
      </div>
      <div class="col-sm-8">
       
      </div>
      <div class="col-sm-2">
        <div class="input-group">
          <input type="text" class="form-control search-form" placeholder="Search for..." ng-model="query">
      </div>
    </div>
    </div>
      <table class="table table-bordered table-hover">
        <thead>
          <th class="assignments">Assignment</th>
          <th class="module">Module</th>
          <th class="date">Due on </th>
          <th> <select ng-model="orderProp">
        <option value="title">Alphabetical</option>
        <option value="date">Most Urgent</option>
        <option value="-date">Furthest</option>
        <option value="complete">Completion Status</option>
      </select></th>
        </thead>

        <tbody ng-repeat="assignment in assignments | filter:{ title: query, complete: completion} | orderBy:orderProp" >
            <tr>
            <td><a href="#/modules/{{assignment.moduleId}}/{{assignment.id}}">{{ assignment.title }}</a></td>
            <td><a href="#/modules/{{assignment.moduleId}}"> {{ modules[assignment.moduleId].title }}</a></td>
            <td>{{ assignment.date }}</td>
            <td><div ng-if="assignment.complete" class="glyphicon glyphicon-ok"></div>
            <div ng-if="!assignment.complete" class="glyphicon glyphicon-remove"></div></td>
          </tr>
        </tbody>
        </table>
  </div>
</div>
