
      <div class="row">
        <div class="col-sm-2" ng-include="'./partials/sidebar.html'">
        </div>
        <div class="col-sm-10">
          <h3> Welcome, {{ loggedInUser.firstName }}</h3>
      <table class="table table-bordered">
        <thead>
          <th class="title">Module</th>
          <th class="assignments">Assignments</th>
          <th class="lecturer">Lecturer</th>
          <th class="button1"></th>
          <th class ="button2" ng-if="modules.length > 0"></th>
        </thead>

        <tbody ng-repeat="module in modules" >
            <tr>
            <td><a href="#/modules/{{module.id}}">{{ module.title }}</a></td>
            <td>
              <ul ng-repeat="assignment in module.assignments">
              <li><a href="#/modules/{{module.id}}/{{assignment.id}}">{{ assignment.title}}</a></li>
              <p class = "assignment-snippet">{{ "'"+assignment.snippet +"'"}}</p>
              </ul>
            </td>
            <td>{{ module.Lecturer }}</td>
            <td>
              <input type="button" class="btn btn-primary"value="Edit" />
            </td>
            <td>
              <input type="button" class="btn btn-danger" value="Delete"/>
            </td>
          </tr>
        </tbody>
        </table>
        </div>
      </div>