<div class="row">
  <div class="col-md-4">
    <h3>
      What is College Assistant?
    </h3>
    <p>
      College assistant is the tool you never knew you always needed!
    </p>
    <p>
      Quickly create modules, add assignments and mark as complete and much more!
    </p>
    <p>
      Once you start using College Assistant you'll wonder how you ever survived without it.
    </p>
    <p>
      We 100% guarantee a minimum of 300% improvement in your grades.
    </p>
    <p>
      What are you waiting for? Hit Sign Up!
    </p>
  </div>
  <div class="col-md-8">
    <img class="main-page-image" src="../support/files/books.jpg"
    width="500">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Customer Testimonies:</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          John
        </h3>
      </div>
      <div class="panel-body">
        <i>"Best app I've ever used. Fact."</i>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Paul
        </h3>
      </div>
      <div class="panel-body">
        <i>"Great product, would use again."</i>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Ringo
        </h3>
      </div>
      <div class="panel-body">
        <i>"Helped my college life so much!"</i>
      </div>
    </div>
  </div>
</div>