<div class="row">
      <div class="col-md-4">
        <h3>
          What is College Assistant?
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae tincidunt massa. Nulla scelerisque luctus consequat. Nullam scelerisque est vel nibh commodo porttitor. Phasellus eget mauris nibh. Proin sodales ipsum consequat enim cursus ultrices. Nunc turpis eros, mollis at pretium eget, lacinia non quam. Quisque leo dui, lobortis at risus eu, viverra aliquam mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

          Maecenas nec mauris feugiat, blandit ipsum nec, congue dui. Cras sodales eu ipsum at scelerisque. Fusce nisi eros, accumsan sed neque eget, congue imperdiet lacus. Fusce faucibus in turpis at sagittis. Ut at iaculis sem, semper cursus nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec fringilla fringilla mi, id pretium purus auctor et.
        </p>
      </div>
      <div class="col-md-8">
        <img class="main-page-image" src="../support/files/books.jpg"
        width="500">
      </div>
    </div>
<div class="row">
      <div class="col-md-4">
        <h3>
          Span 3
        </h3>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Panel title
            </h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>
          Span 3
        </h3>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Panel title
            </h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
      <div class="col-md4 col-md-4" style="display: block;">
      </div>
      <div class="col-md-4">
        <h3>
          Span 4
        </h3>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Panel title
            </h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>