<div class="row">
  <div class="col-sm-2" ng-include="'./partials/sidebar.html'">
  </div>
  <div class="col-md-10">
    <h2>{{ assignment.title }}</h2>
    <p><b>Module name: </b><a href="#/modules/{{module._id}}">{{ module.title }}</a></p>
    <p><b>Lecturer: </b>{{ module.lecturer }}</p>
    <div class="form-group">
      <label>
        Description:
      </label>
      <input type="text" class="form-control" ng-model="assignment.snippet" ng-value="assignment.snippet">
    </div>
    <div class="form-group">
      <label>
        Due Date:
      </label>
      <input type="date" class="form-control" ng-model="assignment.date" ng-value="assignment.date">
    </div>
    <div class="form-group">
      <label>
        Details:
      </label>
      <textarea type="text" class="form-control" rows="6" ng-model="assignment.details" ng-value="assignment.details"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-danger save-module" ng-click="editAssignment(assignment)">
        Save
      </button>
    </div>
  </div>
</div>