<!DOCTYPE html>
<html ng-app="collegeApp" ng-controller="myCtrl">

<head>
  <meta charset="utf-8">
  <title>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="../styles/bootstrap.min.css" rel="stylesheet">
  <link href="../styles/custom.css" rel="stylesheet" type="text/css">
  <script src="../support/scripts/jquery.min.js"></script>
  <script src="../support/scripts/bootstrap.min.js"></script>
  
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">College Assistant</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a ng-if="user.role==='public'" href="#/login" class = "btn btn-link">Log In</a>
          </li>
          <li>
            <a ng-if="user.role==='public'" href="#/signup" class = "btn btn-link">Sign up</a>
          </li>
          <li>
            <a ng-if="user.role==='admin'" href="#/dashboard" class = "btn btn-link">Dashboard</a>
          </li>
          <li>
            <a ng-if="user.role==='admin'" ng-click="logout()" href="#/" class = "btn btn-link">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div ng-view >

    </div>
    
    <div class="row">
    </div>
    <div class="jumbotron">
      <p>
        Page developed by Stephen Coady
      </p>
    </div>
  </div>
  <script src="../support/scripts/angular.min.js"></script>
  <script src="../support/scripts/angular-route.min.js"></script>
  <script src="app.js"></script>
</body>

</html>