.main-page-image {
    margin: auto;
    display: table;
}

.btn {
    border-radius: 0px;
}

.jumbotron {
  font: 5em;
}

.navbar .navbar-right {
  float: right;
  margin-right: 10px;
  }

.assignment-snippet {
  font-style: italic;
  font-size: 12px
}